* {
  margin: 0;
}
body {
  background-color: black;
  /* background-image: url("flag3.jpg"); */
  background-position: initial;
  color: white;
  font-size: 16px;
}

hr {
  margin: 1rem 0rem 1rem 0rem;
}

h1 {
  color: white;
  margin: 4.5rem 0px;
  font-family: emoji;
}
#section1 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.imgvk {
  width: 34rem;
  height: 26rem;
  margin: 1rem 2rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 60px;
}

img.Quateimg {
  /* border: black; */
  border: 1px solid black;
  width: 26rem;
  height: 32rem;
  border: 1px solid black;
  border-radius: 2rem;
}
#personal {
  margin: 0rem 2rem;
  display: inline-block;
  font-size: 1.5rem;
}
div#\#details {
  margin: 2rem 2rem 2rem 2rem;
}
p.paragraph {
  margin: 1rem 1rem;
}
.head {
  color: gold;
  margin: 1rem 0rem;
}
#record {
  display: flex;
  justify-content: center;
}
.recordsection {
  display: flex;
  justify-content: center;
}
li.records {
  text-align: justify;
  margin: 0.5rem 0rem 0.5rem 2rem;
  font-size: 1.3rem;
}
p.achiverecord,
li.achiverecord {
  font-size: 1.3rem;
}
.achiveimg {
  width: 25rem;
  height: 22rem;
}
div#Achevement {
  display: flex;
  justify-content: center;
}
.achiveSec1 {
  width: 47rem;
  margin: 0.1rem 2rem 0rem 6rem;
}
h4 {
  color: lawngreen;
  margin: 1rem 0rem;
  text-align: center;
  font-size: 1.5rem;
}
.awardimg {
  float: right;
}
.awards {
  display: flex;
  justify-content: center;
}
ul.awardli {
  margin: 3rem 1rem 1rem 1rem;
  line-height: 2.5rem;
  font-size: 20px;
}
.socialmedia {
  display: flex;
  justify-content: center;
}
img.socialimg {
  margin: 0rem 2rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid;
  border-radius: 1rem;
}
img.socialimg:hover {
  border: 1px red;
}

div#footer {
  margin: 1rem 0rem;
}

img.flagimg1 {
  width: 20rem;
  height: 10rem;
  position: absolute;
  top: 0rem;
  left: 12rem;
}
img.flagimg2 {
  width: 20rem;
  height: 10rem;
  position: absolute;
  right: 12rem;
  top: 0rem;
}
@media (max-width: 1400px) {
  h1 {
    color: white;
    margin: 4rem 0px;
    font-size: 1.6rem;
  }
  img.flagimg1 {
    width: 8rem;
    height: 5rem;
    position: absolute;
    top: 3rem;
    left: 13rem;
  }
  img.flagimg2 {
    width: 8rem;
    height: 5rem;
    position: absolute;
    right: 13rem;
    top: 3rem;
  }
}
@media (max-width: 1000px) {
  h1 {
    color: white;
    margin: 4rem 0px;
    font-size: 1.25rem;
  }
  img.flagimg1 {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 3rem;
    left: 0rem;
  }
  img.flagimg2 {
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 0rem;
    top: 3rem;
  }
  #section1 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    flex-direction: column;
  }
  img.Quateimg {
    border: 1px solid black;
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 2rem;
    align-items: center;
    margin: auto;
  }
  div#\#details {
    margin: 1rem 2rem 2rem 2rem;
  }
  .imgvk {
    width: 24rem;
    height: 15rem;
    margin: auto;
    display: inline-block;
    border: 1px solid black;
    border-radius: 60px;
  }
  img#img2nd {
    position: absolute;
  }
  li.records {
    text-align: justify;
    margin: 0.5rem 0rem 0rem -2rem;
    font-size: 1rem;
    width: 22rem;
  }
  div#Achevement {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  h4 {
    color: lawngreen;
    margin: 1rem 0rem;
    text-align: center;
    font-size: 1rem;
  }
  .achiveSec1 {
    width: 25rem;
    margin: 14px 0.1px 0.1px 8px;
  }
  p.achiverecord,
  li.achiverecord {
    font-size: 1rem;
  }
  .awards {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  ul.awardli {
    margin: 2rem 0rem 1rem 0rem;
    line-height: 1.5rem;
    font-size: 16px;
  }
  img.socialimg {
    margin: 0rem 18px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 1rem;
  }
}
